html {
  background: #f1f1f1;
}

.wrapper {
  background: #f1f1f1;
  width: 100vw;
  height: 100vw;
}

.toast {
  background: white;
  /* border 같은 경우는 경계를 말한다. */
  /* rem 상대적인 기준은 font 사이즈를 말한다. 
  8의 배수, 4의 배수 일때 많이 사용 */
  border-left: 1rem solid #8a8a8a;
  border-radius: 0.5rem;
  box-shadow: 0.125rem 0.125rem 0.125rem rgb(0, 0, 0, 0.25);
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  margin: 1rem auto;
  width: 25rem;
};

.toast__message-title {
  font-weight: 700;
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  margin-top: 0;
  text-transform: capitalize
};

.toast__message-text { 
  margin-bottom: 0;
};

.toast__button {
  background: transparent;
  border: none;
  font-family: inherit;
  font-size: initial;
  margin-left: 1rem;
  /* 절반정도 투명하게ㄴ */
  opacity: 0.5;
  padding: 0;
}
/* 첫번째 */
.toast-success {
  border-color: #048556;
}
/* 두번째 */
.toast-warning{
  border-color: rgb(220, 51, 9);
}
/* 세번째 */
.toast-error {
  border-color: rgb(233, 197, 14);
}